* {

  }

.body{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.title{
    text-align: center;
}
.display{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}
.compBox{
    width: 200px;
    text-align: center;
    display: block;
}
.comp{
    display: inline;
}
.cScore {
    display: inline;
}
.compPick {
    margin-top: 5px;
    font-size: 50px;
    text-align: center;
    display: block;
    height: 30px;
    filter: drop-shadow(0 5px 3px rgba(0, 0, 0, 0.4));
}

.playerBox{
    width: 200px;
    text-align: center;
    display: block;
    margin-right: 20px;
}
.player{
    display: inline;
}
.pScore {
    display: inline;
}
.playerPick {
    margin-top: 5px;
    font-size: 50px;
    text-align: center;
    display: block;
    height: 30px;
    filter: drop-shadow(0 5px 3px rgba(0, 0, 0, 0.4));
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
#rockBtn{
    font-size: 25px;
    padding: .5em;
    border-radius: 18px;
    
}
#paperBtn{
    font-size: 25px;
    padding: .5em;
    border-radius: 18px;
    
}
#scissorsBtn{
    font-size: 25px;
    padding: .5em;
    border-radius: 18px;
    
}
#scissorsBtn:hover {
    cursor: pointer;
    transform: scale(0.9);
    transition: 0.3s;

}
#paperBtn:hover {
    cursor: pointer;
    transform: scale(0.9);
    transition: 0.3s;

}
#rockBtn:hover {
    cursor: pointer;
    transform: scale(0.9);
    transition: 0.3s;

}
.reset{
    display: flex;
    align-items: center;
    justify-content: center;
}
#resetBtn{
    font-size: 25px;
    padding: 1em;
    border-radius: 18px;
}

#resetBtn:hover {
    cursor: pointer;
    transform: scale(0.9);
    transition: 0.3s;
}
